#banner
 .banner_content
  %h1 File Cabinet
  %p Your life's work, Organized, always.
  %button= link_to "Enter", new_user_registration_path

#callout
 .callout_inner
  .wrapper
   .callout
    %h2 Organize
    %p Tumblr man bun jean shorts, synth chambray fingerstache marfa la croix organic copper mug intelligentsia. 8-bit waistcoat prism la croix. Bushwick subway tile ethical adaptogen, XOXO migas cliche. Polaroid mixtape lyft etsy mlkshk iceland leggings hashtag. Pour-over helvetica af typewriter biodiesel blog celiac pug. Pug authentic try-hard asymmetrical slow-carb lumbersexual 
#bottom_cta
 .wrapper
  %h2 Go Ahead
  %br
  %button= link_to "Join Now", new_user_registration_path
